<% include ../partials/header %>

    <section class="ls s-pt-lg-120 s-pb-lg-100 s-py-md-90 s-py-60 c-gutter-30">
        <div class="container">
            <div class="row">


                <main class="col-lg-12 col-xl-12">
                    <div class="product type-product ">
                        <h2>Compare Equipment</h2>
                        <div>
                            <table class="shop_attributes">


                                <tbody>
                                    <tr>
                                        <th style="width:15%;"></th>
                                        <td style="width:28%;">
                                            <img src="/images/equipments/a.png" class="img-fluid">
                                        </td>
                                        <td style="width:28%;">
                                            <img src="/images/equipments/b.png" class="img-fluid">
                                        </td>
                                        <td style="width:28%;">
                                            <img src="/images/equipments/c.jpg" class="img-fluid">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Product</th>
                                        <td>
                                            <p>Rocprop</p>
                                        </td>
                                        <td>
                                            <p>Cheetah Aluminium Pinch Bar</p>
                                        </td>
                                        <td>
                                            <p>Blasthole Cleaner, Desludger</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>
                                            <p>Elongate roof support</p>
                                        </td>
                                        <td>
                                            <p>Elongate roof support</p>
                                        </td>
                                        <td>
                                            <p>Elongate roof support</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>OEM</th>
                                        <td>
                                            <p>Mine support products</p>
                                        </td>
                                        <td>
                                            <p>Mine support products</p>
                                        </td>
                                        <td>
                                            <p>Mine support products</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>TRL</th>
                                        <td>
                                            <p> </p>
                                        </td>
                                        <td>
                                            <p>TRL9</p>
                                        </td>
                                        <td>
                                            <p>TRL9</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mining Cycle</th>
                                        <td>
                                            <p>Stoping</p>
                                        </td>
                                        <td>
                                            <p>Stoping</p>
                                        </td>
                                        <td>
                                            <p>Stoping</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mining Activity</th>
                                        <td>
                                            <p>Supporting</p>
                                        </td>
                                        <td>
                                            <p>Supporting</p>
                                        </td>
                                        <td>
                                            <p>Supporting</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mining Method</th>
                                        <td>
                                            <p>Conventional</p>
                                        </td>
                                        <td>
                                            <p>Conventional</p>
                                        </td>
                                        <td>
                                            <p>Conventional</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mineral</th>
                                        <td>
                                            <p>Gold</p>
                                        </td>
                                        <td>
                                            <p>Gold</p>
                                        </td>
                                        <td>
                                            <p>Gold</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ore Location</th>
                                        <td>
                                            <p>Underground</p>
                                        </td>
                                        <td>
                                            <p>Underground</p>
                                        </td>
                                        <td>
                                            <p>Underground</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rock Hardness</th>
                                        <td>
                                            <p>Any</p>
                                        </td>
                                        <td>
                                            <p>Any</p>
                                        </td>
                                        <td>
                                            <p>Any</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>
                                            <p>The award winning Rocprop, widely acknowledged by mining houses around
                                                the world
                                                as one of the world’s leading underground mining roof support products,
                                                is a compact
                                                mechanical prop designed for underground mining applications. It
                                                displays high energy
                                                absorption characteristics over a large closure range and at high
                                                convergence rates.</p>
                                        </td>
                                        <td>
                                            <p>Product Information
                                                Designed specifically for Underground barring
                                                Available in STANDARD DUTY ,HEAVY DUTY &amp; EXTRA HEAVY DUTY
                                                Light weight
                                                High Grade Extruded Aluminium
                                                Hardened Bent Chisel
                                                Hardened Straight Point
                                                Available sizes 600mm to 6m
                                                Pinch Bar Hand Guard ( Fig8 )
                                                Foggy bar available
                                                Patent #2001/4532</p>
                                        </td>
                                        <td>
                                            <p>The Novatek hydropowered blasthole cleaner is used to remove drilling
                                                cuttings and water from drilled blastholes before charging with
                                                explosives. It ensures that the hole can be charged to the full depth
                                                and that excess water is removed – especially important if ANFEX is
                                                being used to avoid misfires and short breaking.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">
                                            <button type="button" class="btn btn-darkgrey">Back</button>
                                        </th>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-maincolor2">Add to Favorites</button>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-maincolor2">Add to Favorites</button>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-maincolor2">Add to Favorites</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    <!-- #product-22 -->


                </main>

                <!--<aside class="col-lg-5 col-xl-3">

                

            </aside>-->


            </div>

        </div>
    </section>

    <% include ../partials/footer %>