<% include ./partials/header %>

    <section class="ls  container-px-xl-0">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-xl-8 ls ">
                    <div class="">
                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
                        <h2 class="special-heading text-left">
                            <span class="text-capitalize">
                                Signup
                            </span>
                        </h2>
                        <div class="divider-line bg-maincolor"></div>
                        <div class="fw-divider-space divider-25"></div>

                        <div class="divider-30 hidden-above-lg"></div>
                        <form class="register-form" action="/register" method="post">
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group has-placeholder">
                                        <label for="">User Type <span class="required">*</span></label>
                                        <select class="form-control" name='user_type' required>
                                            <option value="0">Select from list</option>
                                            <option value="normal">Normal User</option>
                                            <option value="memsa">MEMSA User</option>
                                            <option value="admin">Admin User</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="">MEMSA ID <span class="required">*</span></label>
                                    <div class="form-group has-placeholder">

                                        <input aria-required="true" size="30" value="" required name="memsa_id" id=""
                                            class="form-control" placeholder="Enter your MEMSA ID">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group has-placeholder">
                                        <label for="">Username <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" required
                                            name="username" id="" class="form-control"
                                            placeholder="Enter your username">
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group has-placeholder">
                                        <label for="name335x5553">Password <span class="required">*</span></label>
                                        <input type="password" aria-required="true" size="30" value="" name="password"
                                            id="" class="form-control" placeholder="Enter your password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Name <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" required
                                            name="firstname" id="" class="form-control" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Surname <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" required
                                            name="lastname" id="" class="form-control" placeholder="Enter your Surname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Email <span class="required">*</span></label>
                                        <input type="email" aria-required="true" size="30" value="" type='email'
                                            required name="email" id="" class="form-control"
                                            placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Phone number <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" required value="" name="phone"
                                            id="" class="form-control" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="">Company name <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" required value=""
                                            name="company_name" id="" class="form-control"
                                            placeholder="Enter your company name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="">Company Address line 1</label>
                                        <input type="text" aria-required="true" size="40" value=""
                                            name="address_1" id="" class="form-control"
                                            placeholder="Enter your address line 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="">Company Address line 2</label>
                                        <input type="text" aria-required="true" size="40" value=""
                                            name="address_2" id="" class="form-control"
                                            placeholder="Enter your address line 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-placeholder">
                                        <label for="">City</label>
                                        <input type="text" aria-required="true" size="30" required value=""
                                            name="address_city" id="" class="form-control"
                                            placeholder="Enter your city">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-placeholder">
                                        <label for="">Province</label>
                                        <input type="text" aria-required="true" size="30" required value=""
                                            name="address_province" id="" class="form-control"
                                            placeholder="Enter your Province">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-placeholder">
                                        <label for="">Code</label>
                                        <input type="text" aria-required="true" size="30" required value=""
                                            name="address_code" id="" class="form-control"
                                            placeholder="Enter your Code">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group has-placeholder">
                                        <label for="">Website <span class="required">*</span></label>
                                        <input type="text" aria-required="true" required value="" name="website" id=""
                                            class="form-control" placeholder="Enter your  website">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Company Registration Number <span
                                                class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" name="company_reg_no"
                                            id="" class="form-control"
                                            placeholder="Enter your company registration rumber">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-placeholder">
                                        <label for="">Company VAT Number <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" name="vat_number"
                                            id="" class="form-control" placeholder="Enter your company VAT number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-0 mt-10">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-gradient medium-btn">Signup</button>
                                        <button type="button"
                                            class="btn btn-outline-darkgrey medium-btn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
                    </div>
                </div>
                <div class="col-lg-4  col-xl-4 ls"> </div>
                <!--.col-* -->
            </div>
        </div>
    </section>

    <% include ./partials/footer %>