<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div><img src="/ui/images/default/banner.png" class="img-fluid mb-3" alt="Responsive image"></div>

            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    Privacy Policy
                </div>
                <div class="card-body">
                    <p class="card-text mb-0">This Policy sets out how we use and protect any personal information that
                        you, the user, give us when you use TARA. This privacy policy has been put in place to assure
                        you that we take access to your personal information seriously. TARA also provides our contact
                        details should you need to contact us for any reason. If you have any questions about this
                        policy or do not agree with it, please contact us before using the TARA. This policy may be
                        periodically revised or amended and will be updated on this page accordingly; the user is
                        encouraged to review this policy from time to time. All details supplied to us by virtue of
                        TARA, will be safeguarded by our privacy policy. We endeavour to maintain the privacy of the
                        information you have divulged to us in consequence of utilising TARA. For this purpose, we have
                        taken measures to ensure that information supplied to us is held securely. By providing us with
                        your details, you agree to us using your information to communicate further with you regarding
                        matters which we believe might be of interest or relevant to you.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    Terms and Conditions
                </div>
                <div class="card-body">
                    <p class="card-title">Access to TARA is subject to the following terms and conditions:</p>
                    <p class="card-text">Upon accessing TARA, you will be deemed to have accepted all of the terms
                        and conditions that apply to its use, the information contained on TARA and to the facilities
                        and services provided by it. Accordingly, please take the time to read through these terms and
                        conditions before continuing to use TARA. We reserve the right to amend these terms and
                        conditions at any time and it is your responsibility to review changes made. Your use of TARA
                        after changes are posted on-line shall constitute acceptance of the changes in and to the terms
                        and conditions.</p>
                    <p class="card-title"><strong>In these terms and conditions:</strong></p>
                    <p class="card-title"><strong>"we/us/our"</strong> means the Mandela Mining Precinct and Mining
                        Equipment Manufacturers
                        of South Africa;</p>
                    <p class="card-title"><strong>"TARA"</strong> means this Database including all aspects, facilities
                        and services of any
                        nature whatsoever related thereto;</p>
                    <p class="card-title"><strong>"you"/"your"</strong> means the user of TARA.</p>
                    <p class="card-title"><strong>1. Access to the TARA</strong></p>
                    <p class="card-text">Access to TARA is permitted on a temporary basis, and we reserve the right
                        to withdraw or amend the service provided on TARA without notice. Periodically, we may restrict
                        access to some parts of TARA to the user. We will not be liable if, for any reason, TARA is
                        unavailable at any time or for any period.</p>
                    <p class="card-title"><strong>2. Content</strong></p>
                    <p class="card-text">TARA’s content and information may contain technical inaccuracies and
                        typographical errors. We exclude all liability for any illegality and/or any loss or damage
                        incurred arising from such inaccuracies and typographical errors.</p>
                    <p class="card-text">The content of and information appearing on TARA may be revised, amended or
                        updated periodically.
                        We will not be held to any previously existing representations, terms, conditions or other
                        information subsequently altered on TARA. We accept no responsibility for keeping equipment
                        manufacturer’s information and content on TARA up to date nor do we accept any liability for any
                        failure to do so.</p>
                    <p class="card-text">We give no warranties, conditions, guarantees or representations, expressed or
                        implied, as to the
                        completeness or accuracy of information on TARA, as submitted by equipment manufacturers; the
                        content of the technology appearing on TARA, including but not limited to, the ownership,
                        quality, authenticity of any photographs or compliance with description; the completeness of the
                        results of any search conducted on TARA or that the technology revealed by such search are the
                        only technologies on our database which might meet the requirements of your search.</p>
                    <p class="card-title">As a manufacturer who has followed the sign-up process to upload technologies:
                    </p>
                    <p class="card-text">We reserve the right to classify, edit and/or delete content and we will
                        attempt to inform you of
                        any such changes. We may at any time remove any or all of the material and/or statements
                        appearing on TARA which in our opinion are unlawful or constitute a breach of this agreement and
                        we will attempt to inform you of any such changes. As a manufacturer, by uploading technologies,
                        features, specifications and datasheets means that this information, together with your
                        telephone number and company details (where applicable) can be viewed by all persons with
                        internet access globally. You consent to the publication of your data in this way. Should there
                        be technologies which you are not ready to display publicly, it is your responsibility to ensure
                        that the “visibility” field is marked accordingly as “private”.</p>
                    <p class="card-title"><strong>3. Liability</strong></p>
                    <p class="card-text">The information and material displayed on TARA are provided without any
                        guarantees, conditions or warranties as to accuracy.</p>
                    <p class="card-text">We will be required to carry out routine maintenance and servicing of our
                        servers and equipment from time to time. While we will seek to keep disruption to a minimum, we
                        cannot guarantee that TARA will be continuously available on-line; we will endeavour to notify
                        you should such a disruption arise.</p>
                    <p class="card-text">We make no warranty that TARA (or websites which are linked to TARA) are free
                        from computer viruses or any other malicious or impairing computer programs. It is your
                        responsibility to ensure that you use appropriate virus checking software.</p>
                    <p class="card-text">We are not liable for any failure to perform any of our obligations under these
                        terms and conditions
                        caused by matters beyond our reasonable control.</p>
                    <p class="card-title"><strong>4. Links to other websites</strong></p>
                    <p class="card-text">TARA contains hypertext links to other company websites that are not operated
                        by us. We do not control such websites and are not responsible for their content.</p>
                    <p class="card-title"><strong>5. Registration details</strong></p>
                    <p class="card-text">As a manufacturer, to gain access to certain services on TARA you will need to
                        sign-up (free of charge). As part of the sign-up process, you will create a username and
                        password and will then, after TARA admin reviews your registration, become an active member on
                        TARA. You agree that the information supplied with your sign-up process will be truthful,
                        accurate and complete. You will agree that you will not attempt to register in the name of any
                        other individual, company or organisation nor will you adopt any username which we deem to be
                        offensive. All information supplied by you as part of the registration process will be protected
                        and used in accordance with the terms of our Privacy Policy.</p>
                    <p class="card-title"><strong>6. Security</strong></p>
                    <p class="card-text">We reserve the right to institute criminal proceedings against you should you
                        attempt to maliciously utilise TARA by gaining unauthorised access to any page on TARA or by
                        delivering or attempting to deliver any unauthorised or harmful code to TARA.</p>
                    <p class="card-title"><strong>7. Communication / Data</strong></p>
                    <p class="card-text">By accessing TARA and providing us with your details you agree to us utilising
                        your information to communicate further with you in future regarding matters which we believe
                        might be of interest or relevant to you and storing your information in our database for future
                        reference and for purposes of the above.</p>
                    <p class="card-title"><strong>8. General</strong></p>
                    <p class="card-text">We may revise these terms and conditions at any time by amending this page. You
                        are expected to check this page periodically to take notice of any changes we make, as they are
                        binding on you. These terms and conditions together with our privacy policy contain the entire
                        agreement and understanding between you and us relating to TARA, its content and use and
                        supersede any and all prior agreements, arrangements, statements and understandings, except for
                        any fraud or fraudulent representation by either you or us. The laws of the Republic of South
                        Africa will apply in respect of any legal issue or litigation arising directly or indirectly
                        from the terms and conditions; the use or inability to use TARA and/or information contained on
                        TARA.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>